<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lostanimals.tracks">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/TracksTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".MapsActivity"
                android:label="@string/title_activity_maps">
        </activity>
        <activity android:name=".PostActivity">
        </activity>
        <activity android:name=".LogoutActivity">
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:label="@string/title_activity_register"
                android:parentActivityName=".LoginActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.lostanimals.tracks.LoginActivity"/>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".FeedActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".NewPostActivity">
        </activity>
        <activity
                android:name=".MyPostActivity"
                android:parentActivityName=".FeedActivity">
        </activity>
        <activity
                android:name=".MyProfileActivity"
                android:parentActivityName=".FeedActivity">
        </activity>
        <activity
                android:name=".FollowedPostsActivity"
                android:parentActivityName=".FollowedPostsActivity">
        </activity>
    </application>

</manifest>